body {
  font-family: "Circular Book";
  font-size: 14px;
}
:root {
  --color-dark: #060b11;
  --color-green: #1ed760;
  --color-dark-blue: #0a1520;
  --color-blue: #25466e;
  --color-white: #fff;
}
/*===========================HEADER==========================*/
h1 {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 50px;
  color: #fff;
  text-shadow: 0px 0px 2px #ffffff;
}

#sidebar {
  position: sticky;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 180px;
}
@media (max-width: 450px) {
  #sidebar {
    display: none;
  }
  .btn {
    height: 15px !important;
    font-size: 10px !important;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#content {
  background-color: #181818;
}
header > div.row {
  background-image: url("/Artists/img/rs-212580-GettyImages-84889478.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -80px;
  margin: 0;
  object-fit: fill;
  text-transform: uppercase;
  height: 350px;
  z-index: -2;
  width: 100%;
}
header > div.row::before {
  content: "";
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, #181818 10%, #181818, #181818b6, #00000000);
  z-index: 0;
}

header li {
  text-transform: uppercase;
  list-style: none;
  font-family: inherit;
  font-weight: 900;
  letter-spacing: 0.2rem;
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.header a {
  color: rgba(255, 255, 255, 0.473);
  padding: 0;
  margin: 0;
}

.header a:hover,
.header a:active,
.header a:focus {
  text-decoration: none;
  color: var(--color-white);
  border: none;
}

.header a::after {
  content: "";
  width: 2rem;
  display: block;
  margin-left: 0;
  border-bottom: 2px solid #1ed760;
  padding: 4px;
  opacity: 0;
}
.header a:focus:after {
  animation: navactive 1s ease-in-out 0.1s 1 alternate forwards;
}
@keyframes navactive {
  from {
    margin-left: 0;
    opacity: 0;
  }
  to {
    margin-left: calc(50% - 16px);
    opacity: 1;
  }
}
header .container div {
  z-index: 2 !important;
}
.btn {
  z-index: 2 !important;
}
nav#navbar {
  position: sticky;
  bottom: 0;
}
header div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.more {
  padding: 0px 9px 9px !important;
  min-width: 30px !important;
  min-height: 30px !important;
  color: var(--color-white);
  border: 1px solid #fff !important ;
  font-size: 20px !important;
  text-align: center;
  letter-spacing: -1px !important;
  display: flex;
  justify-content: top;
  background-color: #00000030;
}
.btn {
  max-height: 45px !important;
}

.btn-outline-light {
  color: #1ed760;
  background-color: #00000030;
  border: 1px solid #ffffff !important;
}
/*=================== DROP DOWN MANU===========================*/

.dropdown-menu {
  background-color: #181818;
  box-shadow: 0px 5px 15px #000;
}
.dropdown-item {
  color: rgba(255, 255, 255, 0.473);
  font-weight: 200;
  font-size: 13px;
}
.dropdown-item:hover {
  background-color: #333333;
  color: white;
}
.dropdown:hover .dropdown-menu.one {
  display: block;
}
/*======================= CONTENT =======================*/

main label {
  font-size: 12px;
  font-weight: 400;
}

#tapestry img,
#tapestry2 img {
  max-width: 100%;
  max-height: auto;
}

.playbtns {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}
.albumcover:hover,
.playbtns:hover ~ .albumcover {
  filter: brightness(0.5);
}
.playbtns .btn {
  color: #fff !important;
  min-width: 10px !important;
  padding: 0;
  position: relative;
  bottom: 125px;
  left: 85px;
  opacity: 0;
}
.playbtns button.more,
.playbtns button.btn-success {
  padding: 0px !important;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
}
.playbtns button.more {
  min-height: 40px !important;
  min-width: 40px !important;
  background-color: #00000030 !important;
}
.playbtns button.btn-success {
  min-height: 40px !important;
  min-width: 40px !important;
  position: absolute;
  font-size: 12px;
  bottom: 26%;
  left: 70%;
}

#relatedartist img:hover ~ .playbtns .btn {
  animation-name: btnopacity;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}
#overview div img:hover ~ .playbtns .btn-success {
  animation-name: btnopacity2;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes btnopacity {
  from {
    bottom: 100px;
    opacity: 0;
  }
  to {
    bottom: 125px;
    opacity: 1;
  }
}

@keyframes btnopacity2 {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 26%;
    opacity: 1;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
  }
}

.btn:hover {
  opacity: 1;
  transform: scale(1.1);
}
.albumcover {
  width: 100%;
  object-fit: fill;
}

#relatedartist .albumcover {
  border-radius: 50%;
}
i {
  margin-right: 2px;
}
#galary .more {
  font-size: 15px;
  font-weight: 600;
}
