body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Circular Book";
  font-size: 14px;
}
.logo > img {
  max-width: 100%;
  width: 200px;
}
.container {
  max-width: 450px;
}
@media (max-width: 550px) {
  .container {
    max-width: 400px;
  }
}
@media (max-width: 380px) {
  .container {
    max-width: 330px;
  }
}
.text-muted.password-reset {
  color: #616467;
  text-decoration: underline;
}
.text-muted.password-reset:hover {
  color: #15883e !important;
}
/*****FOR FORM ERROR******/
.haserrorborder {
  border-color: red;
}
.haserror ::after {
  content: "Please enter correct usarname and password";
  color: red;
  display: block;
  z-index: 20;
}
