body {
  background-color: black;
}
.nav-link,
.text {
  color: gray !important;
}

.nav-link:focus {
  border-left: 3px solid #1cb855;
}

a:hover,
i:hover {
  color: white !important;
}

#buttonSignUp {
  position: absolute;
  bottom: 175px;
  left: 4px;
}

#buttonLogIn {
  position: absolute;
  bottom: 115px;
  left: 4px;
}
#smallItems {
  position: absolute !important;
  bottom: 85px;
  left: 4px;
}

#smallItems1 {
  position: absolute !important;
  bottom: 60px;
  left: 8px;
}
#smallItems2 {
  position: absolute !important;
  bottom: 60px;
  left: 4px;
}

footer {
  background-color: #2c2c2c !important;
}
