body {
  background-color: black;
}
.nav-link,
.text {
  color: gray !important;
}

.nav-link:focus {
  border-left: 3px solid #1cb855;
}

a:hover,
i:hover {
  color: white !important;
}

#buttonSignUp {
  position: absolute;
  bottom: 140px;
  left: 4px;
}

#buttonLogIn {
  position: absolute;
  bottom: 80px;
  left: 4px;
}
#smallItems {
  position: absolute !important;
  bottom: 50px;
  left: 4px;
}

#smallItems1 {
  position: absolute !important;
  bottom: 25px;
  left: 8px;
}
